<div class="container">
  
    <h1>Cadastro de Clientes</h1>
    <p>Todos os dados são obrigatórios.</p>

    <button mat-button (click)="openDialogFormClient()">+Novo</button>

    

    <section class="card">
        <h2>Lista de Clientes</h2>

        @if (clients.length === 0) {

            <p>Não existem clientes cadastrados.</p>

        } @else {

            <table>
                <thead>
                    <tr>
                        <th>CNPJ</th>
                        <th>Razão Social</th>
                        <th>Nome Fantasia</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @for (client of clients; track client.id) {
                        <tr>
                            <td>{{ client.cnpj }}</td>
                            <td>{{ client.companyName }}</td>
                            <td>{{ client.tradingName }}</td>
                            <td>
                                @if (!client.id === null || client.id === undefined) {
                                    <span class="error">Client ID is null.</span>
                                } @else {
                                <button type="button" (click)="editClient(client.id)">Editar</button>
                                <button type="button" (click)="deleteClient(client.id)">Excluir</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>       
        }
    </section>
    <section class="footer">
        <span>Copyright © 2023 UNIWORK. Todos os direitos reservados.</span>
    </section>
</div>